@import '../../../node_modules/bootstrap/scss/bootstrap';

@import './variables';

html,
body {
  height: 100%;
}

body {
  background-color: $primary-color;
  color: #444;
}

.capitalize-first-letter {
  display: inline-block;

  &::first-letter {
    text-transform: capitalize;
  }
}

@import './layout';